nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: flex;
}

.icon {
  list-style: none;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .open {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
  }
  .open ul {
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .open li {
    padding: 0.4rem;

    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    transform: translateX(0%);

    transition: 2s;
  }

  .open li:nth-child(1) {
    transform: translateX(10%);
  }

  .open li:nth-child(2) {
    transform: translateX(5%);
  }

  .open li:nth-child(3) {
    transform: translateX(2%);
  }

  .open li:nth-child(4) {
    transform: translateX(5%);
  }

  .open li:nth-child(5) {
    transform: translateX(10%);
  }

  .open a {
    margin: 0;
    display: none;
  }
}
