.pallete {
  padding: 2rem 0.5rem;

  display: flex;

  flex-direction: column;
}

.pallete > h3 {
  font-size: 32px;

  align-self: center;
}

.pallete > h5 {
  font-size: 16px;

  align-self: center;

  margin-bottom: 2rem;
}

.palleteFooter > img {
  width: 40%;
  object-fit: cover;
  margin-right: 1rem;

  margin-top: 0rem;
}

.palleteFooter {
  display: flex;

  margin-top: 1rem;
  padding: 0.5rem;
}
/* 
.palleteFooter > img {
  width: 40%;
  object-fit: contain;
  margin-right: 1rem;
} */

.palleteFooterWrapper {
  display: flex;

  flex-direction: column;
}

.palleteFooterWrapper > h3 {
}

.palleteFooterWrapper > p {
  margin-right: 3rem;
}

.palleteColorContainer {
  display: flex;

  margin-top: 1rem;

  margin-bottom: 1rem;
}

.palleteColor {
  border-radius: 10rem;
  margin-right: 0.5rem;

  width: 10vw;
  height: 10vw;

  background-color: var(--col);
}

.palletGridItem {
  display: flex;

  background-color: red;
}

.palletGridItem > img {
  display: flex;

  width: 100%;
}

@media (min-width: 700px) {
  .palleteColor {
    max-width: 3rem;
    max-height: 3rem;
  }

  .palleteFooter {
    padding: 0rem;
  }
}

@media (min-width: 900px) {
  .pallete > div {
    display: flex;
    flex-direction: row-reverse;
    max-height: 35rem;

    margin: 0 2rem;

    overflow: hidden;
  }

  .pallete {
    padding: 1rem;
  }

  .palleteFooter {
    flex: 1;
  }

  .palleteFooter > img {
    width: 15rem;
    object-fit: cover;
    margin-right: 1rem;

    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  .palleteFooterWrapper {
    margin-right: 2rem;
  }
}

@media (min-width: 1300px) {
  .pallete > div {
    margin: 0px 7rem;
  }
}

@media (min-width: 1600px) {
  .pallete > div {
    margin: 0px 15rem;
  }
}
