.imgPalleteContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0rem;

  width: 100vw;

  grid-template-rows: 25vw 25vw 25vw;
}

.palleteWrapper {
  display: flex;

  flex: 0;

  position: relative;
}

.selectedPalleteImg {
  position: absolute;

  object-fit: contain;
  width: 100%;

  height: 100%;

  align-self: center;
  opacity: 0;
  background-color: white;

  pointer-events: none;
}

.palleteImgVisible {
  opacity: 1;

  pointer-events: all;

  transition: opacity 0.5s ease;
}

.imgPalleteContainer > img {
  width: 100%;

  height: 22vw;

  object-fit: cover;
}

@media (min-width: 900px) {
  .palleteWrapper {
    justify-content: flex-end;
    background-color: transparent;
  }

  .imgPalleteContainer {
    min-width: 35vw;
    min-height: 35vw;
    width: 35vw;
    height: 35vw;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .imgPalleteContainer > img {
    display: flex;

    flex: 1;
  }

  .imgPalleteContainer {
  }
}

@media (min-width: 700px) {
  .palleteWrapper {
    flex: 1;
  }
}
